manosriram.com {
        root * /var/www/public
        file_server
        tls {
						on_demand
        }
				handle_errors {
						rewrite * /404.html
				}
}

128.199.219.99:80 {
        redir https://manosriram.com{uri}
}
