manosriram.com {
        root * /var/www/public
        file_server
				encode zstd gzip
				tls {
						on_demand
				}
				handle_errors {
						rewrite * /404.html
						file_server
				}
}

128.199.219.99:80 {
        redir https://manosriram.com{uri}
}
