---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import BlogPostWithSearch from '../components/BlogPostWithSearch';

const allBlogPosts = await getCollection('blogs');
const sortedPosts = allBlogPosts.sort(
    (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
);
const ghibliImagePaths = fs.readdirSync("public/images/ghibli/");
---

<MainLayout title='ghibli'>
    <div
        class='flex flex-col items-start justify-center max-w-2xl mx-auto mb-16'
    >
		{ghibliImagePaths.map((x) => {
		return <img
		src=`/images/ghibli/${x}`
				alt='ghibli-art'
				formats={['avif', 'webp']}
		/>
		<br />
		})}
    </div>
</MainLayout>
