---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>
			I work on backend server and infra - golang, python; love learning about compilers and interpreters.
    </p>
		<p>I currently work at <a href="https://credshields.com">Credshields</a>; apart from work - I like exploring databases (key-value stores) and developer tools.
		<p>
		previously wrote: <a href="https://github.com/manosriram/nimbusdb">nimbusdb</a>, <a href="https://github.com/manosriram/lark">lark</a>
		</p>
  </div>
</Layout>
